---
import NavBar from '../../../NavBar/NavBar.astro'
import "../../../../styles/global.css"
import '../../../NavBar/NavBar.css'
import '../../../PageContent/WelcomePage/Welcome.styles.css'
import ContentContainer from '../../../ContentContainer/ContentContainer.astro';
import ContentPartContainer from '../../../ContentContainer/ContentPartContainer.astro'
import Footer from '../../../Footer/Footer.astro'
import CheckboxFilledSvg from "../../../../../public/icons/common/checkbox-filled.svg?raw"
import Section from '../../../ContentContainer/Section.astro';
---

<NavBar/>
<ContentContainer style="background-color: #e5e5e5; align-items: center;">
    <div style="height: 100px;"/>
    <h1>O mentorze</h1>
    <Section clazz="sectionContainer center">
        <ContentPartContainer clazz="limitedWidth center">
            <div style="margin: 10px; flex-direction: column;">
                <h2>Kim jestem?</h2>
                <p> 
                    Od ponad 6 lat jestem związany z branżą IT - zarówno jako praktyk, jak i mentor. Przez ten czas miałem okazję pracować przy projektach frontendowych, backendowych,
                    integracjach systemów oraz wdrożeniach aplikacji dla klientów w Polsce i za granicą.
                </p>
                <p>
                    Na co dzień poruszam się w technologiach takich jak JavaScript, React, TypeScript, Java (Spring) czy C#. Mam doświadczenie z bazami SQL i NoSQL, środowiskami
                    kontenerowymi (Kubernetes), integracjami (Apache Camel), a także narzędziami ORM (Hibernate). Pracowałem również z zagranicznymi 
                    zespołami, m.in. przy projekcie związanym z technologią OCR.
                </p>
                <p>
                    Od kilku lat, oprócz codziennej pracy w IT, zajmuję się również edukacją. Prowadzę zajęcia praktyczne, indywidualne i grupowe, dla osób chcących wejść do branży
                    - zarówno uczniów techników, studentów, jak i dorosłych kandydatów na juniorów. Pomagam zrozumieć, jak naprawdę wygląda praca w IT, uczę praktycznych umiejętności,
                    których nie znajdzie się w podręcznikach. Sporo osób, które dotąd przygotowywałem indywidualnie do pracy w branży, z sukcesem znalazły zatrudnienie.
                </p>
                <p>
                    Prywatnie jestem pasjonatem tworzenia gier w stylu retro. Tworzę projekty w Unity, SFML i LibGDX - od map proceduralnych, przez optymalizację kodu,
                    po gry mobilne i przeglądarkowe.
                </p>
            </div>
        </ContentPartContainer>
    </Section>

    <Section clazz="sectionContainer center">
        <ContentPartContainer clazz="limitedWidth center">
            <div style="margin: 10px; flex-direction: column;"></div>
                <h2>Dlaczego warto mi zaufać?</h2>
                <p>
                    Szczególnie intensywnie interesuję się edukacją nowoczesną - śledzę rozwiązania systemowe, takie jak fiński model edukacji, rozwój chmury edukacyjnej,
                    metody nauczania oparte na projektach i technikach samodzielnego rozwoju. Wierzę, że najlepsza nauka to ta, która odpowiada na realne
                    potrzeby - dlatego program każdego kursu dostosowuję do konkretnego człowieka i jego celów. 
                </p>
                <p>
                    Na podstawie własnych doświadczeń oraz różnych opnii, staram 
                    się wyciągać wnioski, doszukiwać się wzorców i antywzorców podejścia do przekazywania wiedzy. To w połączeniu z dużym zaangażowaniem sprawia,
                    że dotychczasowe efekty nauczania były zaskakująco pozytywne.
                </p>
                <p>
                    Jeśli szukasz mentora, który przełoży wiedzę z branży na konkretne cele - własne projekty, certyfikaty, znalezienie pierwszej pracy - zapraszam do kontaktu.
                </p>
            </div>
        </ContentPartContainer>
    </Section>

    <Section clazz="sectionContainer center">
        <ContentPartContainer clazz="limitedWidth center">
            <div style="margin: 10px; flex-direction: column;">
            <h2>Dlaczego stworzyłem Capybit?</h2>
            <p>
                Od zawsze lubiłem dzielić się wiedzą. Sam, na etapie szkoły, studiów i pierwszych praktyk, musiałem wszystkiego uczyć się sam -
                często nawet nie wiedząc, że pewne pojęcia czy dobre praktyki w ogóle istnieją. Wiem, ile czasu można stracić na błądzeniu, dlatego 
                stworzyłem Capybit, by inni mogli tego uniknąć.
            </p>
            <p>
                Chcę pomagać osobom, które dopiero wchodzą do świata IT - niezależnie, czy robią to hobbystycznie, czy zawodowo. Wiem też, jak niewiele 
                potrafią dać praktyki czy szkoły - sam widziałem klasy o profilu informatycznym, które nie znały pojęć takich jak frontend i backend.
            </p>
            <p>
                Capybit to miejsce, w którym łączę wiedzę z praktyką, by pomóc szybciej i mądrzej rozwijać się w IT. Oferuję wsparcie tam, 
                gdzie system edukacji zawodzi - zarówno w formie praktyk, jak i indywidualnych szkoleń. 
                Kilkadziesiąt godzin dobrze ukierunkowanej nauki potrafi diametralnie zmienić ścieżkę rozwoju.
            </p>
        </div>
        </ContentPartContainer>
    </Section>

    <div style="width: 100%; position: relative;">
        <div style="height: 50%; width: 100%; position: absolute; bottom: 0; background-color: white;"></div>
        <Section clazz="sectionContainer center slanted" style="background-color: white;">
            <ContentPartContainer clazz="limitedWidth center">
                <h2> Co mogę Ci zaproponować? </h2>
                <ul class="customList" style="display: flex; justify-content: center; flex-direction: column;">
                    <li class="customLi"><span class="marker"><span><div class="checkboxFilled" set:html={CheckboxFilledSvg} /></span> <span>Indywidualne ścieżki nauki - dobry start w kierunku pracy w IT.</span></li>
                    <li class="customLi"><span class="marker"><span><div class="checkboxFilled" set:html={CheckboxFilledSvg} /></span> <span>Zajęcia grupowe w kameralnych zespołach do 6 osób.</span></li>
                    <li class="customLi"><span class="marker"><span><div class="checkboxFilled" set:html={CheckboxFilledSvg} /></span> <span>Przygotowanie do egzaminów E02, E03 i matury z informatyki.</span></li>
                    <li class="customLi"><span class="marker"><span><div class="checkboxFilled" set:html={CheckboxFilledSvg} /></span> <span>Projekty frontend, backend, fullstack i obiektowe.</span></li>
                    <li class="customLi"><span class="marker"><span><div class="checkboxFilled" set:html={CheckboxFilledSvg} /></span> <span>Konsultacje i mentoring przy Twoich projektach.</span></li>
                    <li class="customLi"><span class="marker"><span><div class="checkboxFilled" set:html={CheckboxFilledSvg} /></span> <span>Edukację opartą o realne potrzeby rynku.</span></li>
                </ul>
                    <button class="cfa" onclick="goToForm()">Zgłoś chęć udziału w szkoleniu!</button>
            </ContentPartContainer>
        </Section>
    </div>

</ContentContainer>
<Footer/>

<script>
    function goToForm() {
      window.location.href = "/form";
    }
    window.goToForm = goToForm;
</script>