---
import NavBar from '../../NavBar/NavBar.astro'
import Footer from '../../Footer/Footer.astro'
import ContentContainer from '../../ContentContainer/ContentContainer.astro'
import FAQ from '../../FAQ/FAQ.astro'
import FAQLine from '../../FAQ/FAQLine.astro'
import FAQAnswer from '../../FAQ/FAQAnswer.astro'
import FAQQuestion from '../../FAQ/FAQQuestion.astro'
import FullImageContainer from '../../FullImageContainer/FullImageContainer.astro'
import Carousel from '../../Carousel/Carousel.astro'
import "./Individual.styles.css"
import "../../../styles/global.css"
import ContentPartContainer from '../../ContentContainer/ContentPartContainer.astro'
import CarouselElement from '../../Carousel/CarouselElement.astro'
import CarouselElementLayout from '../../Carousel/CarouselElementLayout.astro'
import Section from '../../ContentContainer/Section.astro'
import IndividualTable from './IndividualTable.astro'
import Grid21 from '../../Grid/Grid2_1/Grid2_1.astro'
import ImageBoxContent from '../../ImageBoxContent/ImageBoxContent.astro'
import CheckboxFilledSvg from "../../../../public/icons/common/checkbox-filled.svg?raw"
import '../../NavBar/NavBar.css'
import '../../FullImageContainer/FullImageContainer.css'
import '../../PageContent/WelcomePage/Welcome.styles.css'
---

<NavBar/>
<ContentContainer style="background-color: #e5e5e5">
    <FullImageContainer id="mainBanner" imagePath="/images/Welcome/Welcome.jpg" imageLink="#" wrapperClass="blackBackground imageToRight banner">
        <div class="bannerContentContainer">
            <h1 style="color: white">Praktyki/Szkolenia indywidualne</h1>
            <p style="color: white">
                Dedykowany dla osób, które oczekują optymalnego zgłębiania wiedzy. Odpowiednie szkolenia dla szukających praktyk, 
                uczniów szkół średnich i zawodówek, studentów czy osób, które chcą się wdrożyć w świat IT.
                Poznaj edukację, której nie zaoferuje Ci klasyczny system edukacji!
            </p> 
            <button class="cfa" onclick="goToForm()">Zgłoś chęć udziału!</button>
        </div>
    </FullImageContainer>

    <Grid21>
        <ImageBoxContent slot="left" imagePath="/images/IndividualCourse/Mentor.jpg" lazyMeanColor="#726d7e">
            <Section clazz="center" style="flex: 1; justify-content: center;">
                <h2 style="text-align: center;">Chcesz pełnej uwagi i kogoś kto pomoże Ci się rozwinąć?</h2>

            </Section>
        </ImageBoxContent>
        <ImageBoxContent slot="right" imagePath="/images/IndividualCourse/Direction.jpg" lazyMeanColor="#726d7e" wrapperClass="imageRight">
            <Section clazz="center" style="flex: 1; justify-content: center;">
                <h2 style="text-align: center;">Oczekujesz merytorycznej pomocy i kogoś, kto wskaże Ci kierunek?</h2>
            </Section>
        </ImageBoxContent>
    </Grid21>

    <ImageBoxContent wrapperClass="imageRight" imagePath="/images/IndividualCourse/ForWho.jpg" lazyMeanColor="#726d7e">
        <Section clazz="center" style="flex: 1; justify-content: center;">
            <h2>Dla kogo są te kursy?</h2>
            <ul class="customList" style="display: flex; justify-content: center; flex-direction: column;">
                <li class="customLi"><span class="marker"><span><div class="checkboxFilled" set:html={CheckboxFilledSvg} /></span> <span>Uczniów zawodówek/techników/liceów a także studentów.</span></li>
                <li class="customLi"><span class="marker"><span><div class="checkboxFilled" set:html={CheckboxFilledSvg} /></span> <span>Osób uczących się samodzielnie, ale szukających porządku i feedbacku.</span></li>
                <li class="customLi"><span class="marker"><span><div class="checkboxFilled" set:html={CheckboxFilledSvg} /></span> <span>Kandydatów na juniorów chcących przygotować się praktycznie do pracy.</span></li>
                <li class="customLi"><span class="marker"><span><div class="checkboxFilled" set:html={CheckboxFilledSvg} /></span> <span>Nastolatków i dzieci, które są zainteresowane tematami informatyki.</span></li>
            </ul>

        </Section>
    </ImageBoxContent>

    <Section clazz="center">
        <h2>Dlaczego zajęcia indywidualne?</h2>
        <ContentPartContainer clazz="limitedWidth">
            <IndividualTable/>
        </ContentPartContainer>
    </Section>

    <Section clazz="center slanted" style="background-color: #ffffff">
        <ContentPartContainer clazz="limitedWidth center">
            <h2>Oferta</h2>
            <p>Każdy temat zaiwera 3 pakiety godzinowe: 90 godzin, 140 godzin oraz 320 godzin. Program każdego tematu został opisany indywidualnie na stronach poniżej. </p>
            <Carousel carouselId="carousel">
                <CarouselElement>
                    <CarouselElementLayout imgSrc="/images/Welcome/FrontendSubjectHome.jpg" styles="background-color: rgb(255, 230, 214);">
                        <h3 style="margin-top: 0;">Tworzenie stron internetowych - Frontend</h3>
                        <p>Wejdź do świata wizualnie przyciągających treści w internecie. Co więcej, stań się ich twórcą.</p>
                        <div style="width: 100%; justify-content: center; font-size: 20px;"><b style="font-size: 20px;">Cena: od 2000 zł</b></div>
                        <div class="fullWidthTileContent" style="text-align: center; height: auto; margin-bottom: 40px;">
                            <a href="/frontendSubject"><b>Sprawdź ofertę!</b></a>
                        </div>
                    </CarouselElementLayout>
                </CarouselElement>
                <CarouselElement>
                    <CarouselElementLayout imgSrc="/images/Welcome/E13SubjectHome.jpg" styles="background-color: rgb(255, 230, 214);">
                        <h3 style="margin-top: 0;">Przygotowanie do egzaminów E13 / E14 / Matury z informatyki</h3>
                        <p>Egzaminy zawodowe czy matura z informatyki nie muszą być trudne. Zmaksymalizuj wyniki a zdobytą wiedzę i zaoszczędzony czas przekuj we własne projekty.</p>

                        <div style="width: 100%; justify-content: center; font-size: 20px;"><b style="font-size: 20px;">Cena: od 2200 zł</b></div>
                        <div class="fullWidthTileContent" style="text-align: center; height: auto; margin-bottom: 55px;">
                            <a href="/E13Subject"><b>Sprawdź ofertę!</b></a>
                        </div>
                    </CarouselElementLayout>
                </CarouselElement>
                <CarouselElement>
                    <CarouselElementLayout imgSrc="/images/Welcome/ProgrammingSubjectHome.jpg" styles="background-color: rgb(255, 230, 214);">
                        <h3 style="margin-top: 0;">Nauka programowania obiektowego - Java/C#</h3>
                        <p>Programowanie nie musi być trudne. Kod może być czytelny dla Ciebie bez głębszej analizy.</p>
                        <div style="width: 100%; justify-content: center; font-size: 20px;"><b style="font-size: 20px;">Cena: od 2500 zł</b></div>
                        <div class="fullWidthTileContent" style="text-align: center; height: auto; margin-bottom: 40px;">
                            <a href="/programmingSubject"><b>Sprawdź ofertę!</b></a>
                        </div>
                    </CarouselElementLayout>
                </CarouselElement>
                <CarouselElement>
                    <CarouselElementLayout imgSrc="/images/Welcome/GameSubjectHome.jpg" styles="background-color: rgb(255, 230, 214);">
                        <h3 style="margin-top: 0;">Tworzenie gier</h3>
                        <p>Spełnij swoje marzenia związane z tworzeniem gier. Zdobądź wiedzę, która przyda Ci się w IT, ale też pozwoli Ci przelać kreatywność na gry.</p>
                        <div style="width: 100%; justify-content: center; font-size: 20px;"><b style="font-size: 20px;">Cena: od 2700 zł</b></div>
                        <div class="fullWidthTileContent" style="text-align: center; height: auto; margin-bottom: 40px;">
                            <a href="/gameSubject"><b>Sprawdź ofertę!</b></a>
                        </div>
                    </CarouselElementLayout>
                </CarouselElement>
                <CarouselElement>
                    <CarouselElementLayout imgSrc="/images/Welcome/FullstackSubjectHome.jpg" styles="background-color: rgb(255, 230, 214);">
                        <h3 style="margin-top: 0;">Tworzenie stron internetowych - Frontend + Backend</h3>
                        <p>Zacznij tworzyć strony internetowe z całym zapleczem po stronie serwera. Twórz aplikacje webowe, których złożoność nie będzie Cię ograniczać.</p>
                        <div style="width: 100%; justify-content: center; font-size: 20px;"><b style="font-size: 20px;">Cena: od 2700 zł</b></div>
                        <div class="fullWidthTileContent" style="text-align: center; height: auto; margin-bottom: 40px;">
                            <a href="/frontendAndBackendSubject"><b>Sprawdź ofertę!</b></a>
                        </div>
                    </CarouselElementLayout>
                </CarouselElement>
            </Carusel>
        </ContentPartContainer>
    </Section>

    

    
    <Section clazz="center slanted">
        <ContentPartContainer clazz="limitedWidth center">
            <h2>Promocja</h2>
            <p style="text-align:center">Jeżeli zapisujesz się z czyjegoś polecenia - <b>oboje dostajecie 10% zniżki na cały kurs!</b></p>
            <p style="text-align:center"> 
                <b>Polecenie może dotyczyć więcej niż 1 osoby</b> - wtedy wszystkie osoby mają 10% rabatu a 
                Ty <b>dodatkowe 5% zniżki za drugą i kolejne osoby</b>, które dołączyły do kursu i z niego nie zrezygnowały.
            </p>
        
            <p style="text-align:center">Istnieje możliwość odbycia szkoleń o innym czasie trwania po indywidualnym ustaleniu tego podczas wstępnej rozmowy.</p>
        </ContentPartContainer>
    </Section>

    <ImageBoxContent wrapperClass="imageRight" imagePath="/images/test/laptop.jpg" lazyMeanColor="#726d7e">
        <Section clazz="center" style="flex: 1; justify-content: center;">
            <h2>Co zyskujesz?</h2>
            <ul class="customList" style="display: flex; justify-content: center; flex-direction: column;">
                <li class="customLi"><span class="marker"><span><div class="checkboxFilled" set:html={CheckboxFilledSvg} /></span> <span>Dostosowany program oraz oceny opisowe.</span></li>
                <li class="customLi"><span class="marker"><span><div class="checkboxFilled" set:html={CheckboxFilledSvg} /></span> <span>Elastyczność terminów.</span></li>
                <li class="customLi"><span class="marker"><span><div class="checkboxFilled" set:html={CheckboxFilledSvg} /></span> <span>Doświadczenie z pracy z kodem i jego utrzymaniem.</span></li>
                <li class="customLi"><span class="marker"><span><div class="checkboxFilled" set:html={CheckboxFilledSvg} /></span> <span>Ścieżkę gotową do pracy w IT - realne portfolio.</span></li>
                <li class="customLi"><span class="marker"><span><div class="checkboxFilled" set:html={CheckboxFilledSvg} /></span> <span>W zależności od piektu 90h/140h/320h zyskujesz 18/28/51 godzin czasu pracy z mentorem indywidualnie.</span></li>
                <li class="customLi"><span class="marker"><span><div class="checkboxFilled" set:html={CheckboxFilledSvg} /></span> <span>Mentora na wyłączność, który poświęci Ci pełną uwagę i czas.</span></li>
            </ul>
        </Section>
    </ImageBoxContent>

    <Section clazz="center">
        <ContentPartContainer clazz="limitedWidth center">
            <h2 style="text-align: center;" >Dodatkowe korzyści dla klientów indywidualnych:</h2>
            <ul class="customList" style="display: flex; justify-content: center; flex-direction: column;">
                <li class="customLi"><span class="marker"><span><div class="checkboxFilled" set:html={CheckboxFilledSvg} /></span> <span>Elitarne szkolenie, z dodatkowym czasem na indywidualny rozwój w wybranym kierunku.</span></li>
                <li class="customLi"><span class="marker"><span><div class="checkboxFilled" set:html={CheckboxFilledSvg} /></span> <span>Indywidualnie przygotowana lista zagadnień do dalszego pogłębiania.</span></li>
                <li class="customLi"><span class="marker"><span><div class="checkboxFilled" set:html={CheckboxFilledSvg} /></span> <span>Certyfikat ukończenia praktyk pod okiem dedykowanego mentora oraz indywidualną oceną opisową.</span></li>
                <li class="customLi"><span class="marker"><span><div class="checkboxFilled" set:html={CheckboxFilledSvg} /></span> <span>Możliwości otrzymania pomocy przy CV lub portfolio oraz wsparcie przy rekrutacji.</span></li>
                <li class="customLi"><span class="marker"><span><div class="checkboxFilled" set:html={CheckboxFilledSvg} /></span> <span>Koniec szkolenia to nie koniec kontaktu! Mentor jest dla Ciebie również dostępny po szkoleniu!</span></li>
            </ul>
        </ContentPartContainer>
    </Section>
    

    <Section clazz="center" style="background-color: #ffffff">
        <ContentPartContainer clazz="limitedWidth center">
            <h2>FAQ</h2>
            <FAQ>
                <FAQLine>
                    <FAQQuestion>Jak długo trwa kurs?</FAQQuestion>
                    <FAQAnswer>Od miesiąca do trzech - zależnie od pakietu.</FAQAnswer>
                </FAQLine>
                <FAQLine>  
                    <FAQQuestion>W jakiej formie odbywają się te szkolenia?</FAQQuestion>
                    <FAQAnswer>W formie zdalnej przy użyciu dedykowanego serwera discord. W przypadku kodu używane będzie repozytorium Github. Lista wymaganego oprogramowania jest dostępna w każdej tematyce kursu.</FAQAnswer>
                </FAQLine>
                <FAQLine>
                    <FAQQuestion>Czy muszę wiedzieć cokolwiek, żeby brać udział w kursie?</FAQQuestion>
                    <FAQAnswer>Im więcej wiesz tym na pewno będzie Ci łatwiej przyswoić i zrozumieć wiedzę kursu. Każda tematyka kursu może posiadać indywidualne sugerowane zagadnienia, które warto już znać.</FAQAnswer>
                </FAQLine>
                <FAQLine>
                    <FAQQuestion>Co jeżeli nie mogę się zdecydować na kurs lub mam pytania?</FAQQuestion>
                    <FAQAnswer>W formularzu zgłoszeniowym można napisać o trudności w doborze tematu. Wówczas istnieje możliwość darmowej konsultacji z mentorem, który pomoże ustalić preferencje.</FAQAnswer>
                </FAQLine>
                <FAQLine>
                    <FAQQuestion>Jeżeli chciałbym zaliczyć praktyki w formie tych szkoleń, co muszę zrobić?</FAQQuestion>
                    <FAQAnswer>Należy wówczas podczas rozmowy wstępnej ustalić sposób dostarczenia odpowiednich dokumentów i wymagania szkoły/placówki edukacyjnej. Dodatkowo wymagane jest uzgodnienie ze szkołą czy taka forma praktyk będzie zaliczona. Organizator nie ponosi odpowiedzialności za sytuację, w której szkoła miałaby nie uznać takiego szkolenia jako praktyki.</FAQAnswer>
                </FAQLine>
                <FAQLine>
                    <FAQQuestion>Czy mogę zaliczać praktyki z dowolnego miejsca?</FAQQuestion>
                    <FAQAnswer>Tak o ile to miejsce pozwoli w odpowiednim terminie dostarczyć wymagane dokumenty. Jeżeli Twoja szkoła/uczelnia dopuszcza skany dokumentów - nie ma żadnego problemu z lokalizacją. Jeżeli wymagane są oryginalne dokumenty - należy uwzględnić czas ich dostarczenia w obie strony. Temat może być ustalany indywidualny.</FAQAnswer>
                </FAQLine>
                <FAQLine>
                    <FAQQuestion>Czy jeżeli szkoła chciałaby się skontaktować w celu ustalenia szczegułów praktyk, istnieje możliwość kontaktu?</FAQQuestion>
                    <FAQAnswer>Tak - Po wysłaniu formularza i wstępnej rozmowie, można nakreślić sytuację i wówczas ustalić kanał komunikacji ze szkołą.</FAQAnswer>
                </FAQLine>
                <FAQLine>
                    <FAQQuestion>Co jeżeli z powodów technicznych lub indywidualnych muszę skończyć zajęcia wcześniej?</FAQQuestion>
                    <FAQAnswer>To jest zaleta zajęć indywidualnych, że można w takiej sytuacji znaleźć inny termin spotkania.</FAQAnswer>
                </FAQLine>
                <FAQLine>
                    <FAQQuestion>Czy można zorganizować kurs, w innym wymiarze czasu trwania?</FAQQuestion>
                    <FAQAnswer>Tak - podczas indywidualnej rozmowy wstępnej, możemy ustalić preferowany czas trwania i odpowiednio go wycenić.</FAQAnswer>
                </FAQLine>
                <FAQLine>
                    <FAQQuestion>Czy mogę zmienić temat w trakcie?</FAQQuestion>
                    <FAQAnswer>Tak - jeśli mieści się w ramach ustalonego programu lub zmiana nastąpiła na odpowiednio wczesnym etapie szkoleń. Wówczas uwzględniana jest nowa wartość zajęć, jednak nie niższa niż kurs do którego dołączono.</FAQAnswer>
                </FAQLine>
                <FAQLine>
                    <FAQQuestion>Czy to przygotuje mnie do pracy?</FAQQuestion>
                    <FAQAnswer>Przy pełnym wykorzystaniu czasu indywidualnej pracy i pakiecie 320h - trudno mi sobie wyobrazić by zdobyta wiedza i praktyka nie przełożyła się na znaczne zmniejszenie truności w poszukiwaniu pracy. Niestety grupowe praktyki trwające miesiąc moga być jedynie drogowskazem i pokazać inną metodę nauki niż oferuje klasyczny system edukacji. Nie mniej pełne zaangażowanie w czasie szkolenia i zrozumienie materiału teoretycznego jak i praktycznego może być bardzo dobrym punktem wyjścia do pogłębiania swojej wiedzy konkretnie w kierunkach dziedzin poszukiwanych przez rynek pracy.</FAQAnswer>
                </FAQLine>
                <FAQLine>
                    <FAQQuestion>Czy można rozdzielić płatność na raty?</FAQQuestion>
                    <FAQAnswer>Tak - podczas rozmowy wstępnej można poprosić o podzielenie płatności na raty.</FAQAnswer>
                </FAQLine>
                <FAQLine>
                    <FAQQuestion>W jakiej formie wystawiany jest rachunek za szkolenia?</FAQQuestion>
                    <FAQAnswer>Wystawiana jest faktura. Jeżeli płatność jest dzielona na raty, co miesiąc wystawiana jest faktura.</FAQAnswer>
                </FAQLine>
                <FAQLine>
                    <FAQQuestion>Czy można zrezygnować z kursu?</FAQQuestion>
                    <FAQAnswer>Tak - przez pierwsze 2 zajęcia można zrezygnować z kursu. Każdy ma prawo poznać metodologię zajęć oraz ocenić czy mu ona odpowiada. Zwracana jest kwota kursu pomniejszona o wartość odbytych już zajęć.</FAQAnswer>
                </FAQLine>
                <FAQLine>
                    <FAQQuestion>Kiedy należy opłacić kurs?</FAQQuestion>
                    <FAQAnswer>Kurs należy opłacić przed jego rozpoczęciem.</FAQAnswer>
                </FAQLine>
                <button class="cfa" onclick="goToForm()">Zgłoś chęć udziału!</button>
            </FAQ>
        </ContentPartContainer>
    </Section>
</ContentContainer>
<Footer/>

<script>
    function goToForm() {
      window.location.href = "/form?type=individual";
    }
    window.goToForm = goToForm;
</script>