---
import '../styles/global.css';
const {customTitle, customDescription, structuredData = []} = Astro.props;

const defaultStructuredData = [
	{
		"@context": "https://schema.org",
		"@type": "Organization",
		name: "HEX Network",
		url: "https://www.minecrafthex.pl",
		logo: "https://www.minecrafthex.pl/logo.ico",
		sameAs: ["https://discord.gg/e6SuCrQHak"]
	},
	{
		"@context": "https://schema.org",
		"@type": "WebSite",
		name: "HEX Network",
		url: "https://www.minecrafthex.pl"
	}
];

const schemaList = [...defaultStructuredData, ...(Array.isArray(structuredData) ? structuredData : [structuredData])];
---
<!doctype html>
<html lang="en">
	<head>
		<title>{customTitle}</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/logo.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content=`${customDescription}`>
		<meta property="title" content=`${customTitle}`>
		<meta property="og:title" content=`${customTitle}`>
		<meta property="og:description" content=`${customDescription}`>
		<meta property="og:image" content="https://www.minecrafthex.pl/images/Welcome/Banner.jpg">
		{schemaList.map((schema) => (
			<script type="application/ld+json" set:html={JSON.stringify(schema)}></script>
		))}

	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		background-color: var(--background-color);
		overflow-x: hidden;
	}
</style>

<script type="module" defer>
	function initCarouselsOnPage() {
		const carousels = document.querySelectorAll('[data-carousel-id]');
		carousels.forEach(carousel => {
			const id = carousel.dataset.carouselId;
			initCarouselLogic(id);
		});
	}

	initCarouselsOnPage();
</script>
