---
import '../styles/global.css';

const {customTiltle, customDescriptin} = Astro.props;
const GA_ID = import.meta.env.PUBLIC_GA_ID;
---
<!doctype html>
<html lang="en">
	<head>
		<title>Capybit</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
        <script is:inline src="https://www.google.com/recaptcha/api.js"></script>
		<meta name="description" content=`${customDescriptin}`>
		<meta property="title" content=`${customTiltle}`>
	</head>
	<body>
		<script async src=`https://www.googletagmanager.com/gtag/js?id=${GA_ID}`></script>
		<script >
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', `${import.meta.env.PUBLIC_GA_ID}`);
		</script>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		background-color: var(--background-color);
		overflow-x: hidden;
	}
</style>
